<!-- <!doctype html>
<html>
<head>
    <title>FooChoi</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
</head>

<body id="cuisinesPage">

  <section class="opBox"></section>

  <section class="mainBoxTwo">

    <div class="page-header text-center">
      <h1><span><i class="fas fa-utensils"></i></span> What do you wish to eat?</h1>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div> -->

<% include profileHeaderLayout %>

<!-- start gallery section -->
    <section class="portfolio" data-scroll-index="5">
        <div class="container-fluid padding-7px-lr">

            <div class="section-heading">
                <div class="title-font font-size22 text-theme-color">Discover a culinary style</div>
                <h3>Select A Cuisine To Start Cooking</h3>
            </div>

            <!-- gallery -->
            <div class="row half-gutter xs-default-gutter gallery text-center width-100">

                <!-- start gallery item -->
                <div class="col-lg-3 col-md-4 col-sm-6 items">
                    <div class="item-img">
                        <img src="img0/portfolio/american.jpg" alt="image">
                        <div class="item-img-overlay valign">
                            <div class="overlay-info width-100 vertical-center">
                                <a href="/recipes/american" class="popimg">
                                    <i class="fa fa-search-plus"></i>
                                </a>
                                <h6>American</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end gallery item -->

                <!-- start gallery item -->
                <div class="col-lg-3 col-md-4 col-sm-6 items">
                    <div class="item-img">
                        <img src="img0/portfolio/canadian.jpg" alt="image">
                        <div class="item-img-overlay valign">
                            <div class="overlay-info width-100 vertical-center">
                                <a href="/recipes/canadian" class="popimg">
                                    <i class="fa fa-search-plus"></i>
                                </a>
                                <h6>Canadian</h6>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end gallery item -->

                <!-- start gallery item -->
                <div class="col-lg-3 col-md-4 col-sm-6 items">
                    <div class="item-img">
                        <img src="img0/portfolio/chinese.jpg" alt="image">
                        <div class="item-img-overlay valign">
                            <div class="overlay-info width-100 vertical-center">
                                <a href="/recipes/chinese" class="popimg">
                                    <i class="fa fa-search-plus"></i>
                                </a>
                                <h6>Chinese</h6>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end gallery item -->

                <!-- start gallery item -->
                <div class="col-lg-3 col-md-4 col-sm-6 items">
                    <div class="item-img">
                        <img src="img0/portfolio/indian.jpg" alt="image">
                        <div class="item-img-overlay valign">
                            <div class="overlay-info width-100 vertical-center">
                                <a href="/recipes/indian" class="popimg">
                                    <i class="fa fa-search-plus"></i>
                                </a>
                                <h6>Indian</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end gallery item -->

                <!-- start gallery item -->
                <div class="col-lg-3 col-md-4 col-sm-6 items">
                    <div class="item-img">
                        <img src="img0/portfolio/italian.jpg" alt="image">
                        <div class="item-img-overlay valign">
                            <div class="overlay-info width-100 vertical-center">
                                <a href="/recipes/italian" class="popimg">
                                    <i class="fa fa-search-plus"></i>
                                </a>
                                <h6>Italian</h6>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end gallery item -->

                <!-- start gallery item -->
                <div class="col-lg-3 col-md-4 col-sm-6 items">
                    <div class="item-img">
                        <img src="img0/portfolio/japanese.jpg" alt="image">
                        <div class="item-img-overlay valign">
                            <div class="overlay-info width-100 vertical-center">
                                <a href="/recipes/japanese" class="popimg">
                                    <i class="fa fa-search-plus"></i>
                                </a>
                                <h6>Japanese</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end gallery item -->

                <!-- start gallery item -->
                <div class="col-lg-3 col-md-4 col-sm-6 items">
                    <div class="item-img">
                        <img src="img0/portfolio/mexican.jpg" alt="image">
                        <div class="item-img-overlay valign">
                            <div class="overlay-info width-100 vertical-center">
                                <a href="/recipes/mexican" class="popimg">
                                    <i class="fa fa-search-plus"></i>
                                </a>
                                <h6>Mexican</h6>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end gallery item -->

                <!-- start gallery item -->
                <div class="col-lg-3 col-md-4 col-sm-6 items">
                    <div class="item-img">
                        <img src="img0/portfolio/spanish.jpg" alt="image">
                        <div class="item-img-overlay valign">
                            <div class="overlay-info width-100 vertical-center">
                                <a href="/recipes/spanish" class="popimg">
                                    <i class="fa fa-search-plus"></i>
                                </a>
                                <h6>Spanish</h6>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end gallery item -->

                <div class="clear-fix"></div>

            </div>

        </div>

    </section>
    <!-- end gallery section -->


      <script src="/main.js"></script>

    </body>

    </html>
