<!-- start sidemenu -->
<div class="side-menu black alt-font">
    <div class="inner-wrapper">
        <span class="btn-close" id="btn_sidebar_colse"></span>
        <nav class="side-nav width-100">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Cuisines</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Dishes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" >Contact</a>
                </li>
            </ul>
        </nav>

    </div>
</div>
<!-- End sidemenu -->

<!-- Close Sidemenu -->
<a id="close_sidebar" href="javascript:void(0);"></a>
<!-- End Sidemenu -->

</header>
<!-- end header -->

<!-- all js include start -->

<!-- jQuery -->
<script src="/js/jquery.min.js"></script>

<!-- popper.min -->
<script src="/js/popper.min.js"></script>

<!-- bootstrap -->
<script src="/js/bootstrap.min.js"></script>

<!-- scrollIt -->
<script src="/js/scrollIt.min.js"></script>

<!-- animated.headline -->
<script src="/js/animated.headline.js"></script>

<!-- tab -->
<script src="/js/easy.responsive.tabs.js"></script>

<!-- owl carousel -->
<script src="/js/owl.carousel.min.js"></script>

<!-- jquery.magnific-popup js -->
<script src="/js/jquery.magnific-popup.min.js"></script>

<!-- datepicker js -->
<script src="/js/datepicker.min.js"></script>

<!-- clockpicker js -->
<script src="/js/clockpicker.js"></script>

<!-- stellar js -->
<script src="/js/jquery.stellar.min.js"></script>

<!-- isotope.pkgd.min js -->
<script src="/js/isotope.pkgd.min.js"></script>

<!-- countdown -->
<script src="/js/countdown.js"></script>

<!-- wow js -->
<script src="/js/wow.js"></script>

<!-- custom scripts -->
<script src="/js/main.js"></script>

<!-- my js sauce -->
<script src="/main.js"></script>

<!-- contact form scripts -->
<!-- <script src="js/mailform/jquery.form.min.js"></script>
<script src="js/mailform/jquery.rd-mailform.min.c.js"></script> -->

<!-- all js include end -->
