<% include headerLayout %>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center caption">
                    <h3 class="title-font text-theme-color font-size28 sm-font-size18 no-margin">We Provide</h3>
                    <h1 class="banner-headline">Food Choice</h1>
                    <p class="margin-30px-bottom sm-margin-20px-bottom xs-display-none">Adapt recipes based on allergies or dietary preferences</p>
                    <a href="/login" class="btn theme loginButton">Login</a>
                    <a href="/signup" class="btn theme signUpButton">Sign Up</a>
                </div>
            </div>
        </div>
<% include footerLayout %>

</body>

</html>
