<% include profileHeaderLayout %>

<!-- <section id="entireScreen" class="position-relative bg-black" data-scroll-index="4" data-overlay-dark="0" data-background="img/black_twill.png"> -->
<!-- start header -->

<header class="header valign bg-img no-transition small-height-align mb-bg-position-x-center" data-scroll-index="0" data-overlay-dark="6" data-background="img/loginTest2.jpg" data-stellar-background-ratio="0.5">

  <div id="pushUpward" class="container">

    <div class="row">
      <div class="col-md-6">

        <div class="padding-70px-right md-padding-50px-right sm-padding-30px-right xs-no-padding-right">

          <div class="section-heading left half xs-text-center xs-margin-30px-bottom">
            <div class="title-font font-size22 text-theme-color">Personalize</div>
            <h4 class="text-white opacity9">What are you allergic to?</h4>
          </div>

          <form method="post" action="">
            <div class="row">
              <div class="col-md-12">
                <input id="ingredient" type="text" name="name" placeholder="Your Allergy:" data-constraints="@LettersOnly @NotEmpty">
              </div>
              <div class="col-md-12">
                <label for="meat">Meat</label>
                <input id="ingredient" type="checkbox" name="Meat">
                <label for="meat">Nut</label>
                <input id="ingredient" type="checkbox" name="Nut">
              </div>

              <div class="col-md-12">
                <button  id="makeMargins" type="submit" class="btn book-now btn-ingredient">Submit Allergy</button>
              </div>
            </div>
          </form>

          <div id="noPadding" class="section-heading left half col-md-12">
            <h2 class="text-white opacity9">Let's Find A Cuisine</h2>
            <a href="/cuisines"><button id="makeMargins" type="button" class="btn book-now">Food Choices</button></a>
          </div>

        </div>
      </div>

      <div class="col-md-6">
        <h2 class="whiter" >Your Allergens</h2>
          <% for(var i=0; i < foods.length; i++) {%>
            <li id="biggerText" class="food whiter">
              <a class="whiter" href="/foods/<%= foods[i] %>">
                <span class="whiter"><%= foods[i] %></span></a>
                <span class="trashIcon whiter"><i id='<%= foods[i]._id %>' class="fa fa-trash whiter" aria-hidden="true"></i></span>
              </li>
              <% } %>
          </div>
        </div>
      </div>



    <% include footerLayout %>


  </body>

  </html>
