<% include profileHeaderLayout %>
<!-- start book-table section -->
<section class="position-relative bg-black" data-scroll-index="4" data-overlay-dark="0" data-background="img/black_twill.png">

  <div class="container">

    <div class="row">
      <div class="col-md-6">

        <div class="padding-70px-right md-padding-50px-right sm-padding-30px-right xs-no-padding-right">

          <div class="section-heading left half xs-text-center xs-margin-30px-bottom">
            <div class="title-font font-size22 text-theme-color">Personalize</div>
            <h4 class="text-white opacity9">What are you allergic to?</h4>
          </div>

          <form method="post" action="" class="mailform off2">
            <input type="hidden" name="form-type" value="contact">
            <div class="row">
              <div class="col-md-12">
                <input id="ingredient" type="text" name="name" placeholder="Your Allergy:" data-constraints="@LettersOnly @NotEmpty">
              </div>


              <div class="mfControls col-md-12">
                <button type="submit" class="btn book-now btn-ingredient">Submit Allergy</button>
              </div>
            </div>

          </form>

        </div>
      </div>

      <div class="col-md-6">
        <h2>Your Allergens</h2>
        <ul>
          <% for(var i=0; i < foods.length; i++) {%>
            <li class="food">
              <a href="/foods/<%= foods[i] %>">
                <span><%= foods[i] %></span></a>
                <span class="trashIcon"><i id='<%= foods[i]._id %>' class="fa fa-trash" aria-hidden="true"></i></span>
              </li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>




    </section>
    <!-- end book-table section -->


    <% include footerLayout %>


  </body>

  </html>
