<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="ROGER" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="Onepage Restaurant and Cafe Template" />
    <meta name="description" content="Onepage Restaurant and Cafe Template" />

    <!-- title  -->
    <title>FoodChoi 🍤 - Restaurant and Cafe</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/favicon.png">
    <link rel="apple-touch-icon" href="img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css" />

    <!-- core style css -->
    <link rel="stylesheet" href="css/style.css" />

</head>

<body>

    <!-- start page loading -->
    <!-- <div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div> -->
    <!-- end page loading -->

    <!-- start header -->
    <!-- <header class="header valign bg-img no-transition small-height-align mb-bg-position-x-center" data-scroll-index="0" data-overlay-dark="6" data-background="img/loginTest1.jpg" data-stellar-background-ratio="0.5"> -->

        <!-- start navbar -->
        <nav class="navbar navbar-expand-lg alt-font">
            <div class="container sm-padding-10px-tb sm-padding-15px-lr">

                <!-- start logo -->
                <a class="logo" href="javascript:void(0);" data-scroll-nav="0">
                    <img src="img/logo-light.png" alt="FooChoi - Inclusive Meals" title="FooChoi - Inclusive Meals">
                </a>
                <!-- end Logo -->

                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                </button>

                <!-- navbar links -->
                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);" data-scroll-nav="0">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0);" data-scroll-nav="1">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0);" data-scroll-nav="2">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0);" data-scroll-nav="3">Our Chef</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0);" data-scroll-nav="5">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0);" data-scroll-nav="6">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0);" data-scroll-nav="7">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn theme small" href="javascript:void(0);" data-scroll-nav="4">Book a Table</a>
                        </li>
                    </ul>
                </div>
                <!-- end navbar links -->

            </div>
             <a href="javascript:void(0)" class="sidemenu_btn sm-display-none" id="sidebar_toggle">
              <span></span> <span></span> <span></span>
           </a>
        </nav>
        <!-- end navbar  -->
