<% include profileHeaderLayout %>
<!-- start book-table section -->
<section class="position-relative bg-black" data-scroll-index="4" data-overlay-dark="0" data-background="img/black_twill.png">

  <div class="container">

    <div class="row">
      <div class="col-md-6">

        <div class="padding-70px-right md-padding-50px-right sm-padding-30px-right xs-no-padding-right">

          <div class="section-heading left half xs-text-center xs-margin-30px-bottom">
            <div class="title-font font-size22 text-theme-color">Personalize</div>
            <h4 class="text-white opacity9">What are you allergic to?</h4>
          </div>

          <form method="post" action="bat/rd-mailform.php" class="mailform off2">
            <input type="hidden" name="form-type" value="contact">
            <div class="row">
              <div class="col-md-12">
                <input type="text" name="name" placeholder="Your Allergy:" data-constraints="@LettersOnly @NotEmpty" required>
              </div>

              <div class="col-md-12">
                <input type="text" name="email" placeholder="CheckBox Category" data-constraints="@Email @NotEmpty">
              </div>

              <div class="col-md-12">

                <div class="row">
                  <div class="col-md-6 no-padding-right xs-padding-15px-right">
                    <input type="text" name="phone" placeholder="catergory1" data-constraints="@Phone">
                  </div>
                  <div class="col-md-6">
                    <input type="text" name="persons" placeholder="category2" data-constraints="@NumbersOnly @NotEmpty">
                  </div>
                </div>

              </div>

              <div class="col-md-12">

                <div class="row">
                  <div class="col-md-6 no-padding-right xs-padding-15px-right">
                    <input type="text" name="date" placeholder="category3" data-provide="datepicker" data-constraints="@Date @NotEmpty">
                  </div>
                  <div class="col-md-6">
                    <input id="time-input" type="text" name="clockpicker" placeholder="catergory4" data-constraints='@NotEmpty'>
                  </div>
                </div>

              </div>

              <div class="col-md-12">
                <textarea name="message" rows="5" placeholder="Not needed...?" data-constraints="@NotEmpty"></textarea>
              </div>
              <div class="mfControls col-md-12">
                <button type="submit" class="btn book-now">Submit Allergy</button>
              </div>
            </div>

          </form>

        </div>
      </div>


      <div class="bg-img cover-background width-50 position-absolute position-right position-top height-100 xs-display-none" data-overlay-dark="0" data-background="img/table.jpg">
            </div>
          <div class="col-md-6">
            <h2>Your Allergens</h2>
            <ul>
              <% for(var i=0; i < foods.length; i++) {%>
                <li class="food">
                  <a href="/foods/<%= foods[i] %>">
                    <span><%= foods[i] %></span></a>
                    <span class="trashIcon"><i id='<%= foods[i]._id %>' class="fa fa-trash" aria-hidden="true"></i></span>
                  </li>
                  <% } %>
                </ul>
              </div>
        </div>
      </div>

    </section>
    <!-- end book-table section -->


    <% include footerLayout %>


  </body>

  </html>
