<% include headerWithSlashLayout %>

    <!-- start tab section -->
    <section id="blackBackground" class="position-relative" data-scroll-index="2" data-overlay-dark="0">
      <div class="container">

        <div class="section-heading">
          <div class="title-font font-size22 text-theme-color">Discover our popular dishes</div>
          <h3 id="colorChange" class="font-size24 text-uppercase">Select A Dish Recipe</h3>
        </div>

        <div class="horizontaltab tab-style">

    <div class="resp-tabs-container hor_1">
      <div>
          <div id="blackBackground" class="row">
          <% for(var i=0; i < meals.length; i++) {%>

              <!-- One Dish Section -->
              <div id="blackBackground" class="col-md-6 margin-30px-bottom sm-margin-20px-bottom">
                <div id="blackBackground" class="border position-relative padding-20px-all bg-white padding-70px-right md-padding-60px-right">
                  <div class="alt-font font-weight-700 margin-8px-bottom xs-margin-5px-bottom">
                    <div>
                      <h5 class="meals ellipsis-out">
                        <a href="/meal/<%= meals[i].idMeal %>">
                          <span id="redUnderline"><%= meals[i].strMeal %></span>
                        </a>
                      </h5>
                    </div>
                  </div>
                  <!-- <p class="width-95 xs-width-100">Prepaparation</p> -->
                  <div class="price-label bg-theme text-white alt-font"><span><i class="fas fa-utensils"></i></span></div>
                  <!-- <ul class="no-margin text-uppercase font-size12">
                    <li>
                      <span class="font-weight-700 text-theme-color">Ingredients</span>
                      <span class="border-left padding-10px-left margin-10px-left">Mixed field greens, cucumbers, and tomatoes</span>
                    </li>
                  </ul> -->
                </div>
              </div>

            <% } %>
            </div>




        </div>
      </div>
    </div>
  </div>


</section>
<!-- end tab section -->

<% include footerLayout %>

</body>

</html>
